.bloque {
    background-color: burlywood;
    border-style: dotted;
    border-color: aqua
    /* text-align: center; */
}

.negrita {
    font-weight: bold;
}

.imagen {
    width: 256px;
}

h1 {
    text-align: center;
}

#tarjeta{
    background-color:aqua;
    display: inline-block;
    vertical-align: top;
}

/*Alinear cabecera*/
.alinear{
    text-align-last: center;
    
}
/*Quitar Sangria*/
#sangria{
    line-height: 2px;
    
}

/*Cuadro para Menú*/
.menu {
    background-color: aliceblue;
    border-style: inset;
    border-width: 2px;
    border-radius: 10px;
    width: 240px;
    text-indent: 200px;
    margin-left: 400px;

}
/*Organizar bloques*/
#cuerpo > div{
    
    display: inline-block;
    vertical-align: top;

}
#estudios{

    font-style: italic;
}
#producto2{

    font-style: italic;
}
#horario{

    font-style: italic;
}
.tituloDiv{
    text-align: center;
    font-style: italic;

}
.contenidoDiv > div{
    font-style: italic;
    vertical-align: top;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    display: inline;

}
.imgResponsive{    
    height: auto;
    width: 100%;
    max-width: 800px;
    max-height: 800px;

}